<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="projeto.fag.com.ocorrenciasmunicipais">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_add_circle_outline_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_add_circle_outline_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FeedActivity"></activity>
        <activity android:name=".RecoverPasswordActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="projeto.fag.com.ocorrenciasmunicipais" />
        <meta-data
            android:name="DATABASE"
            android:value="ocorrenciasdb.db" />
    </application>

</manifest>