<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="projeto.fag.com.ocorrenciasmunicipais">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_escrita"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_escrita"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".FeedNavigationActivity"
            android:label="@string/title_activity_feed_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceAreaActivity" />
        <activity android:name=".AdministratorActivity" />
        <activity android:name=".RecoverPasswordActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".AdminUser" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="VERSION"
            android:value="9" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="projeto.fag.com.ocorrenciasmunicipais" />
        <meta-data
            android:name="DATABASE"
            android:value="ocorrenciasdb.db" />
    </application>

</manifest>